*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  margin-top: -100px;
  background-color: rgb(148, 147, 147);
} 
.box{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px auto;
  background-color: rgb(113, 113, 113);
  color: rgb(241, 237, 237);
  padding: 10px;
  font-family: sans-serif;
  font-weight: 700;
  border-radius: 5px 5px 5px 5px;
  
}
.App{
 margin-top: 250px;
}
input{
  background-color: rgb(210, 210, 210);
  outline: none;
  border: none;
  width: 300px;
  height: 30px;
  border-radius: 3px;
  border-radius: 10px;
  text-align: center;
}
button{
  background: rgb(14, 14, 191);
  width: 80px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 20px;
  margin: 0px 10px;
  font-family: sans-serif;
  color: white;
}
h1{
  color: rgb(233, 235, 236);
  margin: 20px 0px;
}

